/* Responsive layout - Css was designed to be responsive on mobile and desktop devices. The navigation bar is designed to change color when hovered over.
It also changes from horizontal to vertical on the navigation bar.  The menu bars have to be clicked for this to happen.  */

body {background-color:
  palegreen ;
   margin: 5;
  font-family: Roman;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.topnav {
  overflow: hidden;
  background-color: #000;
  }



/*to meet class requirement of alternating color change in css uning nth child*/
li:nth-child(2n) {
background-color: lime;
}





* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each .  This meet the media query requirement of responsive design of changing layout to aid  in improvement for user interaction*/
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/*Image  is labeled in compliance with accessibility conformance and loads quickly to meet responsivity*/
.img-container {
text-align: center;
display: block;}

/* Responsive layout - This meet the media query requirement of responsive design of changing layout to aid in improvement for user interaction by hiding data on smaller screens*/
div.hide {
  background-color: lime;
  padding: 20px;
}






/*simple footer with domain*/

#footer {
  flex: 0 0 auto; 
  
  padding: 20px;
  background: lightgray;
}


/*         Media queries are used to ensure mobile first and that website works on both mobile and desktop devices . Media querires are placed at the end to ensure accessibility to load faster    * /
@media screen and (min-width: 600px) {
  ul.main-nav {float: right;
        width: 60%;
        margin-top: -30px;
        margin-bottom: 30px;}
   
@media screen and (min-width: 1045px) {
    ul.main-nav {
        float: right;
        width: 60%;
        margin-top: -30px;
        margin-bottom: 30px;
    }
/* Media queries to ensure responsive web experience for viewer. This allows for responsive design of the navigation bar and hides all links except home on smaller displays
  Link opens and closes the topnav .icon */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
  
 
/* Media queries to ensure responsive web experience for viewer. The responsive class is added to the navigation bar with Javascript when the user clicks
  on the icon. It looks better on smaller displays. */ 

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }


/* Create two equal columns that floats next to each .  This meet the media query requirement of responsive design of changing layout to aid 
in improvement for user interaction by changing two  stacked columns into a floated column */


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other.  This meet the media query requirement of responsive design of changing layout
  to aid in improvement for user interaction */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
}
  
 /*hides text*/ 

@media screen and (max-width: 600px) {
  div.hide {
    display: none;
  }
}





    


















































































































     











    
































































